/* Basic Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Font */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Header */
.header { background: #f8f8f8; text-align: center; padding: 40px 0; }
.header h1 { font-size: 2.5em; margin-bottom: 10px; }
.header p { font-size: 1.2em; color: #666; }

h1, h2, h3 {
    font-weight: 700; /* This sets the font weight to bold */
}

/* Product Showcase */
.product-showcase { padding: 50px 0; text-align: center; }
.product-showcase img { width: 100%; max-width: 400px; margin-bottom: 20px; }
.product-showcase h2 { font-size: 2em; margin-bottom: 10px; }
.product-showcase p { font-size: 1.2em; color: #666; }

/* Features */
.features { padding: 50px 20px; }
.features h3 { font-size: 1.8em; margin-bottom: 20px; text-align: center; }
.features ul { list-style: none; }
.features li { font-size: 1.2em; margin-bottom: 10px; }

/* Testimonials */
.testimonial { background-color: #f0f0f0; padding: 50px 20px; text-align: center; }
.testimonial h3 { font-size: 1.8em; margin-bottom: 20px; }
.testimonial p { font-size: 1.2em; color: #666; }

/* Contact Form */
.contact { padding: 50px 20px; text-align: center; }
.contact h3 { font-size: 1.8em; margin-bottom: 20px; }
.contact form { max-width: 400px; margin: auto; }
.contact input, .contact textarea { width: 100%; padding: 10px; margin: auto}

#three .image.fit.main {
    background: url('../images/construction.png') no-repeat center center;
    background-size: contain; /* or 'cover' depending on your need */
    background-position: center 20%; /* You can use a percentage */
}

/* Section Four - Head-ache Free Takeoffs: */
#four .image.fit.main {
    background: url('../images/airplane.png') no-repeat center bottom;
    background-size: contain; /* This will make sure the whole image is visible */
}

